*   https://www.youtube.com/watch?v=pkYVOmU3MgA
*   https://jovian.ai/aakashns/python-binary-search

Jovian API:- eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTY2MTQ5Njg4OSwianRpIjoiNjEzYWI4MzgtMTY3Ni00NDk5LTk3ZDMtOGQ4MjJhNjJhYmYzIiwidHlwZSI6ImFjY2VzcyIsImlkZW50aXR5Ijp7ImlkIjoyNDUxODEsInVzZXJuYW1lIjoicHJhdGVlay1kdXR0YSJ9LCJuYmYiOjE2NjE0OTY4ODksImV4cCI6MTY2NTM4NDg4OX0.BBncRUBLH2BXrbhBoZo7ssJUOfUkHJtmk_yMd77AH98

Binary Search & Complexity Analysis

In [ ]:
import math

In [ ]:
math.sqrt(64)

8.0

In [ ]:
def locate_card(cards, query):
    pass

In [ ]:
cards = [13, 11, 10, 7, 4, 3, 1, 0]
query = 7
output = 3

In [ ]:
result = locate_card(cards, query)
print(result)

None

In [ ]:
result == output

False

In [ ]:
test = {
    'input': { 
        'cards': [13, 11, 10, 7, 4, 3, 1, 0], 
        'query': 7
    },
    'output': 3
}

In [ ]:
locate_card(**test['input']) == test['output']

False

In [ ]:
tests = []

In [ ]:
tests.append(test)

tests.append({
    'input': {
        'cards': [13, 11, 10, 7, 4, 3, 1, 0],
        'query': 1
    },
    'output': 6
})

In [ ]:
tests.append({
    'input': {
        'cards': [4, 2, 1, -1],
        'query': 4
    },
    'output': 0
})

In [ ]:
tests.append({
    'input': {
        'cards': [3, -1, -9, -127],
        'query': -127
    },
    'output': 3
})

In [ ]:
tests.append({
    'input': {
        'cards': [6],
        'query': 6
    },
    'output': 0 
})

In [ ]:
tests.append({
    'input': {
        'cards': [9, 7, 5, 2, -9],
        'query': 4
    },
    'output': -1
})

In [ ]:
tests.append({
    'input': {
        'cards': [],
        'query': 7
    },
    'output': -1
})

In [ ]:
tests.append({
    'input': {
        'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
        'query': 3
    },
    'output': 7
})

In [ ]:
tests.append({
    'input': {
        'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
        'query': 6
    },
    'output': 2
})

In [ ]:
tests

[{'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}, 'output': 3},
 {'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}, 'output': 6},
 {'input': {'cards': [4, 2, 1, -1], 'query': 4}, 'output': 0},
 {'input': {'cards': [3, -1, -9, -127], 'query': -127}, 'output': 3},
 {'input': {'cards': [6], 'query': 6}, 'output': 0},
 {'input': {'cards': [9, 7, 5, 2, -9], 'query': 4}, 'output': -1},
 {'input': {'cards': [], 'query': 7}, 'output': -1},
 {'input': {'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 3},
  'output': 7},
 {'input': {'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
   'query': 6},
  'output': 2}]

In [ ]:
def locate_card(cards, query):
    # Create a variable position with the value 0
    position = 0    
    # Set up a loop for repetition
    while True:
        # Check if element at the current position matche the query
        if cards[position] == query:            
            # Answer found! Return and exit..
            return position        
        # Increment the position
        position += 1        
        # Check if we have reached the end of the array
        if position == len(cards):            
            # Number not found, return -1
            return -1

In [ ]:
test

{'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}, 'output': 3}

In [ ]:
result = locate_card(test['input']['cards'], test['input']['query'])
result

3

In [ ]:
result==output

True

In [ ]:
!pip install jovian --upgrade --quiet

     |████████████████████████████████| 68 kB 5.0 MB/s
  Building wheel for uuid (setup.py) ... done

In [ ]:
from jovian.pythondsa import evaluate_test_case

In [ ]:
evaluate_test_case(locate_card, test)

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.005 ms

Test Result:
PASSED

(3, True, 0.005)

In [ ]:
from jovian.pythondsa import evaluate_test_cases

In [ ]:
evaluate_test_cases(locate_card, tests)

TEST CASE #0

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.005 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}

Expected Output:
6


Actual Output:
6

Execution Time:
0.005 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'cards': [4, 2, 1, -1], 'query': 4}

Expected Output:
0


Actual Output:
0

Execution Time:
0.002 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'cards': [3, -1, -9, -127], 'query': -127}

Expected Output:
3


Actual Output:
3

Execution Time:
0.005 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'cards': [6], 'query': 6}

Expected Output:
0


Actual Output:
0

Execution Time:
0.003 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'cards': [9, 7, 5, 2, -9], 'query': 4}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #6

IndexError: ignored

In [ ]:
def locate_card(cards, query):
    position = 0
    
    print('cards:', cards)
    print('query:', query)
    
    while True:
        print('position:', position)
        
        if cards[position] == query:
            return position
        
        position += 1
        if position == len(cards):
            return -1

In [ ]:
cards6 = tests[7]['input']['cards']
query6 = tests[7]['input']['query']

locate_card(cards6, query6)

cards: [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0]
query: 3
position: 0
position: 1
position: 2
position: 3
position: 4
position: 5
position: 6
position: 7

7

In [ ]:
tests[6]

{'input': {'cards': [], 'query': 7}, 'output': -1}

In [ ]:
locate_card(cards6, query6)

cards: [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0]
query: 3
position: 0
position: 1
position: 2
position: 3
position: 4
position: 5
position: 6
position: 7

7

In [ ]:
evaluate_test_cases(locate_card, tests)

TEST CASE #0
cards: [13, 11, 10, 7, 4, 3, 1, 0]
query: 7
position: 0
position: 1
position: 2
position: 3

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.224 ms

Test Result:
PASSED


TEST CASE #1
cards: [13, 11, 10, 7, 4, 3, 1, 0]
query: 1
position: 0
position: 1
position: 2
position: 3
position: 4
position: 5
position: 6

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}

Expected Output:
6


Actual Output:
6

Execution Time:
0.343 ms

Test Result:
PASSED


TEST CASE #2
cards: [4, 2, 1, -1]
query: 4
position: 0

Input:
{'cards': [4, 2, 1, -1], 'query': 4}

Expected Output:
0


Actual Output:
0

Execution Time:
0.104 ms

Test Result:
PASSED


TEST CASE #3
cards: [3, -1, -9, -127]
query: -127
position: 0
position: 1
position: 2
position: 3

Input:
{'cards': [3, -1, -9, -127], 'query': -127}

Expected Output:
3


Actual Output:
3

Execution Time:
1.563 ms

Test Result:
PASSED


TEST CASE #4
cards: [6]
query: 6
position: 0

Input:
{'cards': [6], 'query': 6}

Expected Output:
0


Actual Output:
0

Execution Time:
0.291 ms

Test Result:
PASSED


TEST CASE #5
cards: [9, 7, 5, 2, -9]
query: 4
position: 0
position: 1
position: 2
position: 3
position: 4

Input:
{'cards': [9, 7, 5, 2, -9], 'query': 4}

Expected Output:
-1


Actual Output:
-1

Execution Time:
3.941 ms

Test Result:
PASSED


TEST CASE #6
cards: []
query: 7
position: 0

IndexError: ignored

In [ ]:
def locate_card(cards, query):
    lo, hi = 0, len(cards) - 1
    
    while lo <= hi:
        mid = (lo + hi) // 2
        mid_number = cards[mid]
        
        print("lo:", lo, ", hi:", hi, ", mid:", mid, ", mid_number:", mid_number)
        
        if mid_number == query:
            return mid
        elif mid_number < query:
            hi = mid - 1  
        elif mid_number > query:
            lo = mid + 1
    
    return -1

In [ ]:
evaluate_test_cases(locate_card, tests)

TEST CASE #0
lo: 0 , hi: 7 , mid: 3 , mid_number: 7

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
1.952 ms

Test Result:
PASSED


TEST CASE #1
lo: 0 , hi: 7 , mid: 3 , mid_number: 7
lo: 4 , hi: 7 , mid: 5 , mid_number: 3
lo: 6 , hi: 7 , mid: 6 , mid_number: 1

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}

Expected Output:
6


Actual Output:
6

Execution Time:
0.414 ms

Test Result:
PASSED


TEST CASE #2
lo: 0 , hi: 3 , mid: 1 , mid_number: 2
lo: 0 , hi: 0 , mid: 0 , mid_number: 4

Input:
{'cards': [4, 2, 1, -1], 'query': 4}

Expected Output:
0


Actual Output:
0

Execution Time:
0.3 ms

Test Result:
PASSED


TEST CASE #3
lo: 0 , hi: 3 , mid: 1 , mid_number: -1
lo: 2 , hi: 3 , mid: 2 , mid_number: -9
lo: 3 , hi: 3 , mid: 3 , mid_number: -127

Input:
{'cards': [3, -1, -9, -127], 'query': -127}

Expected Output:
3


Actual Output:
3

Execution Time:
0.388 ms

Test Result:
PASSED


TEST CASE #4
lo: 0 , hi: 0 , mid: 0 , mid_number: 6

Input:
{'cards': [6], 'query': 6}

Expected Output:
0


Actual Output:
0

Execution Time:
12.508 ms

Test Result:
PASSED


TEST CASE #5
lo: 0 , hi: 4 , mid: 2 , mid_number: 5
lo: 3 , hi: 4 , mid: 3 , mid_number: 2

Input:
{'cards': [9, 7, 5, 2, -9], 'query': 4}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.262 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'cards': [], 'query': 7}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.003 ms

Test Result:
PASSED


TEST CASE #7
lo: 0 , hi: 13 , mid: 6 , mid_number: 6
lo: 7 , hi: 13 , mid: 10 , mid_number: 2
lo: 7 , hi: 9 , mid: 8 , mid_number: 2
lo: 7 , hi: 7 , mid: 7 , mid_number: 3

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 3}

Expected Output:
7


Actual Output:
7

Execution Time:
0.508 ms

Test Result:
PASSED


TEST CASE #8
lo: 0 , hi: 14 , mid: 7 , mid_number: 6

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 6}

Expected Output:
2


Actual Output:
7

Execution Time:
0.178 ms

Test Result:
FAILED


SUMMARY

TOTAL: 9, PASSED: 8, FAILED: 1

[(3, True, 1.952),
 (6, True, 0.414),
 (0, True, 0.3),
 (3, True, 0.388),
 (0, True, 12.508),
 (-1, True, 0.262),
 (-1, True, 0.003),
 (7, True, 0.508),
 (7, False, 0.178)]

In [ ]:
evaluate_test_case(locate_card, tests[8])

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 6}

Expected Output:
2

lo: 0 , hi: 14 , mid: 7 , mid_number: 6

Actual Output:
7

Execution Time:
0.137 ms

Test Result:
FAILED

(7, False, 0.137)

In [ ]:
cards8 = tests[8]['input']['cards']
query8 = tests[8]['input']['cards']

In [ ]:
query8[7]

6

In [ ]:
def test_location(cards, query, mid):
    mid_number = cards[mid]
    print("mid:", mid, ", mid_number:", mid_number)
    if mid_number == query:
        if mid-1 >= 0 and cards[mid-1] == query:
            return 'left'
        else:
            return 'found'
    elif mid_number < query:
        return 'left'
    else:
        return 'right'

def locate_card(cards, query):
    lo, hi = 0, len(cards) - 1
    
    while lo <= hi:
        print("lo:", lo, ", hi:", hi)
        mid = (lo + hi) // 2
        result = test_location(cards, query, mid)
        
        if result == 'found':
            return mid
        elif result == 'left':
            hi = mid - 1
        elif result == 'right':
            lo = mid + 1
    return -1

In [ ]:
evaluate_test_case(locate_card, tests[8])

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 6}

Expected Output:
2

lo: 0 , hi: 14
mid: 7 , mid_number: 6
lo: 0 , hi: 6
mid: 3 , mid_number: 6
lo: 0 , hi: 2
mid: 1 , mid_number: 8
lo: 2 , hi: 2
mid: 2 , mid_number: 6

Actual Output:
2

Execution Time:
0.95 ms

Test Result:
PASSED

(2, True, 0.95)

In [ ]:
evaluate_test_cases(locate_card, tests)

TEST CASE #0
lo: 0 , hi: 7
mid: 3 , mid_number: 7

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.132 ms

Test Result:
PASSED


TEST CASE #1
lo: 0 , hi: 7
mid: 3 , mid_number: 7
lo: 4 , hi: 7
mid: 5 , mid_number: 3
lo: 6 , hi: 7
mid: 6 , mid_number: 1

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}

Expected Output:
6


Actual Output:
6

Execution Time:
0.395 ms

Test Result:
PASSED


TEST CASE #2
lo: 0 , hi: 3
mid: 1 , mid_number: 2
lo: 0 , hi: 0
mid: 0 , mid_number: 4

Input:
{'cards': [4, 2, 1, -1], 'query': 4}

Expected Output:
0


Actual Output:
0

Execution Time:
0.264 ms

Test Result:
PASSED


TEST CASE #3
lo: 0 , hi: 3
mid: 1 , mid_number: -1
lo: 2 , hi: 3
mid: 2 , mid_number: -9
lo: 3 , hi: 3
mid: 3 , mid_number: -127

Input:
{'cards': [3, -1, -9, -127], 'query': -127}

Expected Output:
3


Actual Output:
3

Execution Time:
0.728 ms

Test Result:
PASSED


TEST CASE #4
lo: 0 , hi: 0
mid: 0 , mid_number: 6

Input:
{'cards': [6], 'query': 6}

Expected Output:
0


Actual Output:
0

Execution Time:
0.142 ms

Test Result:
PASSED


TEST CASE #5
lo: 0 , hi: 4
mid: 2 , mid_number: 5
lo: 3 , hi: 4
mid: 3 , mid_number: 2

Input:
{'cards': [9, 7, 5, 2, -9], 'query': 4}

Expected Output:
-1


Actual Output:
-1

Execution Time:
3.416 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'cards': [], 'query': 7}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.003 ms

Test Result:
PASSED


TEST CASE #7
lo: 0 , hi: 13
mid: 6 , mid_number: 6
lo: 7 , hi: 13
mid: 10 , mid_number: 2
lo: 7 , hi: 9
mid: 8 , mid_number: 2
lo: 7 , hi: 7
mid: 7 , mid_number: 3

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 3}

Expected Output:
7


Actual Output:
7

Execution Time:
1.849 ms

Test Result:
PASSED


TEST CASE #8
lo: 0 , hi: 14
mid: 7 , mid_number: 6
lo: 0 , hi: 6
mid: 3 , mid_number: 6
lo: 0 , hi: 2
mid: 1 , mid_number: 8
lo: 2 , hi: 2
mid: 2 , mid_number: 6

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 6}

Expected Output:
2


Actual Output:
2

Execution Time:
2.24 ms

Test Result:
PASSED


SUMMARY

TOTAL: 9, PASSED: 9, FAILED: 0

[(3, True, 0.132),
 (6, True, 0.395),
 (0, True, 0.264),
 (3, True, 0.728),
 (0, True, 0.142),
 (-1, True, 3.416),
 (-1, True, 0.003),
 (7, True, 1.849),
 (2, True, 2.24)]

In [ ]:
def test_location(cards, query, mid):
    if cards[mid] == query:
        if mid-1 >= 0 and cards[mid-1] == query:
            return 'left'
        else:
            return 'found'
    elif cards[mid] < query:
        return 'left'
    else:
        return 'right'

def locate_card(cards, query):
    lo, hi = 0, len(cards) - 1
    while lo <= hi:
        mid = (lo + hi) // 2
        result = test_location(cards, query, mid)
        if result == 'found':
            return mid
        elif result == 'left':
            hi = mid - 1
        elif result == 'right':
            lo = mid + 1
    return -1

In [ ]:
def locate_card_linear(cards, query):
    position = 0
    while position < len(cards):
        if cards[position] == query:
            return position
        position += 1
    return -1

In [ ]:
large_test = {
    'input': {
        'cards': list(range(10000000, 0, -1)),
        'query': 2
    },
    'output': 9999998
    
}

In [ ]:
result, passed, runtime = evaluate_test_case(locate_card_linear, large_test, display=False)

print("Result: {}\nPassed: {}\nExecution Time: {} ms".format(result, passed, runtime))

Result: 9999998
Passed: True
Execution Time: 2049.796 ms

In [ ]:
result, passed, runtime = evaluate_test_case(locate_card, large_test, display=False)

print("Result: {}\nPassed: {}\nExecution Time: {} ms".format(result, passed, runtime))

Result: 9999998
Passed: True
Execution Time: 0.032 ms

In [ ]:
def binary_search(lo, hi, condition):
    """TODO - add docs"""
    while lo <= hi:
        mid = (lo + hi) // 2
        result = condition(mid)
        if result == 'found':
            return mid
        elif result == 'left':
            hi = mid - 1
        else:
            lo = mid + 1
    return -1

In [ ]:
def locate_card(cards, query):
    
    def condition(mid):
        if cards[mid] == query:
            if mid > 0 and cards[mid-1] == query:
                return 'left'
            else:
                return 'found'
        elif cards[mid] < query:
            return 'left'
        else:
            return 'right'
    
    return binary_search(0, len(cards) - 1, condition)

In [ ]:
evaluate_test_cases(locate_card, tests)

TEST CASE #0

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.007 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}

Expected Output:
6


Actual Output:
6

Execution Time:
0.012 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'cards': [4, 2, 1, -1], 'query': 4}

Expected Output:
0


Actual Output:
0

Execution Time:
0.006 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'cards': [3, -1, -9, -127], 'query': -127}

Expected Output:
3


Actual Output:
3

Execution Time:
0.006 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'cards': [6], 'query': 6}

Expected Output:
0


Actual Output:
0

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'cards': [9, 7, 5, 2, -9], 'query': 4}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.005 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'cards': [], 'query': 7}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.017 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 3}

Expected Output:
7


Actual Output:
7

Execution Time:
0.007 ms

Test Result:
PASSED


TEST CASE #8

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 6}

Expected Output:
2


Actual Output:
2

Execution Time:
0.006 ms

Test Result:
PASSED


SUMMARY

TOTAL: 9, PASSED: 9, FAILED: 0

[(3, True, 0.007),
 (6, True, 0.012),
 (0, True, 0.006),
 (3, True, 0.006),
 (0, True, 0.004),
 (-1, True, 0.005),
 (-1, True, 0.017),
 (7, True, 0.007),
 (2, True, 0.006)]

In [ ]:
def first_position(nums, target):
    def condition(mid):
        if nums[mid] == target:
            if mid > 0 and nums[mid-1] == target:
                return 'left'
            return 'found'
        elif nums[mid] < target:
            return 'right'
        else:
            return 'left'
    return binary_search(0, len(nums)-1, condition)

def last_position(nums, target):
    def condition(mid):
        if nums[mid] == target:
            if mid < len(nums)-1 and nums[mid+1] == target:
                return 'right'
            return 'found'
        elif nums[mid] < target:
            return 'right'
        else:
            return 'left'
    return binary_search(0, len(nums)-1, condition)

def first_and_last_position(nums, target):
    return first_position(nums, target), last_position(nums, target)

Class & LinkedList

In [ ]:
class Node():
    pass

In [ ]:
Node()

In [ ]:
node1=Node()

In [ ]:
node1

In [ ]:
node2=Node()

In [ ]:
node2

In [ ]:
node3=Node()

In [ ]:
node3

In [ ]:
class Node():
    def __init__(self):
        self.data = 0

In [ ]:
node4 = Node()

In [ ]:
node4.data

0

In [ ]:
node4.data=8
node4.data

8

In [ ]:
node1 = Node()
node1.data = 2

In [ ]:
node2 = Node()
node2.data = 4

In [ ]:
node3 = Node()
node3.data = 6

In [ ]:
node1.data, node2.data, node3.data

(2, 4, 6)

In [ ]:
class LinkedList():
    def __init__(self):
        self.head = None

In [ ]:
list1 = LinkedList()

In [ ]:
list1.head = Node(2)

TypeError: ignored

In [ ]:
list1.head.next = Node(1)

TypeError: ignored

In [ ]:
list1.head.next.next = Node(6)

TypeError: ignored

In [ ]:
list1.head.data, list1.head.next.data, list1.head.next.next.data

(0, 0, 0)

In [ ]:
list1.head, list1.head.next, list1.head.next.next, list1.head.next.next.next

AttributeError: ignored

In [ ]:
class LinkedList():
    def __init__(self):
        self.head = None
        
    def append(self, value):
        if self.head is None:
            self.head = Node(value)
        else:
            current_node = self.head
            while current_node.next is not None:
                current_node = current_node.next
            current_node.next = Node(value)

In [ ]:
list2 = LinkedList()
list2.append(2)
list2.append(3)
list2.append(8)

TypeError: ignored

In [ ]:
list2.head.data, list2.head.next.data, list2.head.next.next.data

In [ ]:
class LinkedList():
    def __init__(self):
        self.head = None
        
    def append(self, value):
        if self.head is None:
            self.head = Node(value)
        else:
            current_node = self.head
            while current_node.next is not None:
                current_node = current_node.next
            current_node.next = Node(value)
            
    def show_elements(self):
        current = self.head
        while current is not None:
            print(current.data)
            current = current.next

In [ ]:
list2 = LinkedList()
list2.append(2)
list2.append(3)
list2.append(7)

In [ ]:
list2.show_elements()

In [ ]:
class LinkedList():
    def __init__(self):
        self.head = None
        
    def append(self, value):
        if self.head is None:
            self.head = Node(value)
        else:
            current_node = self.head
            while current_node.next is not None:
                current_node = current_node.next
            current_node.next = Node(value)
            
    def show_elements(self):
        current = self.head
        while current is not None:
            print(current.data)
            current = current.next
            
    def length(self):
        result = 0
        current = self.head
        while current is not None:
            result += 1
            current = current.next
        return result
            
    def get_element(self, position):
        i = 0
        current = self.head
        while current is not None:
            if i == position:
                return current.data
            current = current.next
            i += 1
        return None

In [ ]:
list2 = LinkedList()
list2.append(2)
list2.append(3)
list2.append(5)
list2.append(9)

In [ ]:
list2.length()

In [ ]:
list2.get_element(0)

In [ ]:
list2.get_element(1)

In [ ]:
list2.get_element(2)

In [ ]:
list2.get_element(3)

In [ ]:
def reverse(l):
    if l.head is None:
        return
    
    current_node = l.head
    prev_node = None
    
    while current_node is not None:
        # Track the next node
        next_node = current_node.next
        
        # Modify the current node
        current_node.next = prev_node
        
        # Update prev and current
        prev_node = current_node
        current_node = next_node
        
    l.head = prev_node

In [ ]:
list2 = LinkedList()
list2.append(2)
list2.append(3)
list2.append(5)
list2.append(9)

AttributeError: ignored

In [ ]:
reverse(list2)

In [ ]:
list2.show_elements()

Binary Search Trees, Traversals and Balancing in Python

In [ ]:
class User:
    pass

In [ ]:
user1 = User()

In [ ]:
user1

In [ ]:
type(user1)

__main__.User

In [ ]:
class User:
    def __init__(self, username, name, email):
        self.username = username
        self.name = name
        self.email = email
        print('User created!')

In [ ]:
user2 = User('Prateek', 'Prateek Dutta', 'prateekdutta2001.com')

User created!

In [ ]:
user2

In [ ]:
user2.name

'Prateek Dutta'

In [ ]:
user2.email, user2.username

('prateekdutta2001.com', 'Prateek')

In [ ]:
class User:
    def __init__(self, username, name, email):
        self.username = username
        self.name = name
        self.email = email
    
    def introduce_yourself(self, guest_name):
        print("Hi {}, I'm {}! Contact me at {} .".format(guest_name, self.name, self.email))

In [ ]:
user3 = User('Prateek', 'Prateek Dutta', 'prateekdutta2001.com')

In [ ]:
user3.introduce_yourself('Ramesh')

Hi Ramesh, I'm Prateek Dutta! Contact me at prateekdutta2001.com .

In [ ]:
class User:
    def __init__(self, username, name, email):
        self.username = username
        self.name = name
        self.email = email
        
    def __repr__(self):
        return "User(username='{}', name='{}', email='{}')".format(self.username, self.name, self.email)
    
    def __str__(self):
        return self.__repr__()

In [ ]:
user4 = User('Prateek', 'Prateek Dutta', 'prateekdutta2001.com')

In [ ]:
user4

User(username='Prateek', name='Prateek Dutta', email='prateekdutta2001.com')

In [ ]:
class UserDatabase:
    def insert(self, user):
        pass
    
    def find(self, username):
        pass
    
    def update(self, user):
        pass
        
    def list_all(self):
        pass

In [ ]:
aakash = User('aakash', 'Aakash Rai', 'aakash@example.com')
biraj = User('biraj', 'Biraj Das', 'biraj@example.com')
hemanth = User('hemanth', 'Hemanth Jain', 'hemanth@example.com')
jadhesh = User('jadhesh', 'Jadhesh Verma', 'jadhesh@example.com')
siddhant = User('siddhant', 'Siddhant Sinha', 'siddhant@example.com')
sonaksh = User('sonaksh', 'Sonaksh Kumar', 'sonaksh@example.com')
vishal = User('vishal', 'Vishal Goel', 'vishal@example.com')

In [ ]:
users = [aakash, biraj, hemanth, jadhesh, siddhant, sonaksh, vishal]

In [ ]:
biraj.username, biraj.email, biraj.name

('biraj', 'biraj@example.com', 'Biraj Das')

In [ ]:
print(aakash)

User(username='aakash', name='Aakash Rai', email='aakash@example.com')

In [ ]:
users

[User(username='aakash', name='Aakash Rai', email='aakash@example.com'),
 User(username='biraj', name='Biraj Das', email='biraj@example.com'),
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'),
 User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com'),
 User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com'),
 User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com'),
 User(username='vishal', name='Vishal Goel', email='vishal@example.com')]

In [ ]:
'biraj' < 'hemanth'

True

In [ ]:
class UserDatabase:
    def __init__(self):
        self.users = []
    
    def insert(self, user):
        i = 0
        while i < len(self.users):
            # Find the first username greater than the new user's username
            if self.users[i].username > user.username:
                break
            i += 1
        self.users.insert(i, user)
    
    def find(self, username):
        for user in self.users:
            if user.username == username:
                return user
    
    def update(self, user):
        target = self.find(user.username)
        target.name, target.email = user.name, user.email
        
    def list_all(self):
        return self.users

In [ ]:
database = UserDatabase()

In [ ]:
database.insert(hemanth)
database.insert(aakash)
database.insert(siddhant)

In [ ]:
user = database.find('siddhant')
user

User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com')

In [ ]:
database.update(User(username='siddhant', name='Siddhant U', email='siddhantu@example.com'))

In [ ]:
user = database.find('siddhant')
user

User(username='siddhant', name='Siddhant U', email='siddhantu@example.com')

In [ ]:
database.list_all()

[User(username='aakash', name='Aakash Rai', email='aakash@example.com'),
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'),
 User(username='siddhant', name='Siddhant U', email='siddhantu@example.com')]

In [ ]:
database.insert(biraj)

In [ ]:
database.list_all()

[User(username='aakash', name='Aakash Rai', email='aakash@example.com'),
 User(username='biraj', name='Biraj Das', email='biraj@example.com'),
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'),
 User(username='siddhant', name='Siddhant U', email='siddhantu@example.com')]

In [ ]:
%%time
for i in range(100000000):
    j = i*i

CPU times: user 13.5 s, sys: 21.2 ms, total: 13.5 s
Wall time: 13.5 s

In [ ]:
class TreeNode:
    def __init__(self, key):
        self.key = key
        self.left = None
        self.right = None

In [ ]:
node0 = TreeNode(3)
node1 = TreeNode(4)
node2 = TreeNode(5)

In [ ]:
node0

In [ ]:
node0.key

3

In [ ]:
node0.left = node1
node0.right = node2

In [ ]:
tree = node0

In [ ]:
tree.key

3

In [ ]:
tree.left.key

4

In [ ]:
tree.right.key

5

In [ ]:
tree_tuple = ((1,3,None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [ ]:
def parse_tuple(data):
    # print(data)
    if isinstance(data, tuple) and len(data) == 3:
        node = TreeNode(data[1])
        node.left = parse_tuple(data[0])
        node.right = parse_tuple(data[2])
    elif data is None:
        node = None
    else:
        node = TreeNode(data)
    return node

In [ ]:
tree2 = parse_tuple(((1,3,None), 2, ((None, 3, 4), 5, (6, 7, 8))))

In [ ]:
tree2

In [ ]:
tree2.key

2

In [ ]:
tree2.left.key, tree2.right.key

(3, 5)

In [ ]:
tree2.left.left.key, tree2.left.right, tree2.right.left.key, tree2.right.right.key

(1, None, 3, 7)

In [ ]:
tree2.right.left.right.key, tree2.right.right.left.key, tree2.right.right.right.key

(4, 6, 8)

In [ ]:
def tree_to_tuple(node):
    pass

In [ ]:
def display_keys(node, space='\t', level=0):
    # print(node.key if node else None, level)
    
    # If the node is empty
    if node is None:
        print(space*level + '∅')
        return   
    
    # If the node is a leaf 
    if node.left is None and node.right is None:
        print(space*level + str(node.key))
        return
    
    # If the node has children
    display_keys(node.right, space, level+1)
    print(space*level + str(node.key))
    display_keys(node.left,space, level+1)

In [ ]:
display_keys(tree2, '  ')

      8
    7
      6
  5
      4
    3
      ∅
2
    ∅
  3
    1

In [ ]:
def traverse_in_order(node):
    if node is None: 
        return []
    return(traverse_in_order(node.left) + 
           [node.key] + 
           traverse_in_order(node.right))

In [ ]:
tree = parse_tuple(((1,3,None), 2, ((None, 3, 4), 5, (6, 7, 8))))

In [ ]:
display_keys(tree, '  ')

      8
    7
      6
  5
      4
    3
      ∅
2
    ∅
  3
    1

In [ ]:
traverse_in_order(tree)

[1, 3, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def tree_height(node):
    if node is None:
        return 0
    return 1 + max(tree_height(node.left), tree_height(node.right))

In [ ]:
tree_height(tree)

4

In [ ]:
def tree_size(node):
    if node is None:
        return 0
    return 1 + tree_size(node.left) + tree_size(node.right)

In [ ]:
tree_size(tree)

9

In [ ]:
class TreeNode():
    def __init__(self, key):
        self.key, self.left, self.right = key, None, None
    
    def height(self):
        if self is None:
            return 0
        return 1 + max(TreeNode.height(self.left), TreeNode.height(self.right))
    
    def size(self):
        if self is None:
            return 0
        return 1 + TreeNode.size(self.left) + TreeNode.size(self.right)

    def traverse_in_order(self):
        if self is None: 
            return []
        return (TreeNode.traverse_in_order(self.left) + 
                [self.key] + 
                TreeNode.traverse_in_order(self.right))
    
    def display_keys(self, space='\t', level=0):
        # If the node is empty
        if self is None:
            print(space*level + '∅')
            return   

        # If the node is a leaf 
        if self.left is None and self.right is None:
            print(space*level + str(self.key))
            return

        # If the node has children
        display_keys(self.right, space, level+1)
        print(space*level + str(self.key))
        display_keys(self.left,space, level+1)    
    
    def to_tuple(self):
        if self is None:
            return None
        if self.left is None and self.right is None:
            return self.key
        return TreeNode.to_tuple(self.left),  self.key, TreeNode.to_tuple(self.right)
    
    def __str__(self):
        return "BinaryTree <{}>".format(self.to_tuple())
    
    def __repr__(self):
        return "BinaryTree <{}>".format(self.to_tuple())
    
    @staticmethod    
    def parse_tuple(data):
        if data is None:
            node = None
        elif isinstance(data, tuple) and len(data) == 3:
            node = TreeNode(data[1])
            node.left = TreeNode.parse_tuple(data[0])
            node.right = TreeNode.parse_tuple(data[2])
        else:
            node = TreeNode(data)
        return node

In [ ]:
tree_tuple

((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [ ]:
tree = TreeNode.parse_tuple(tree_tuple)

In [ ]:
tree

BinaryTree <((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))>

In [ ]:
tree.display_keys('  ')

      8
    7
      6
  5
      4
    3
      ∅
2
    ∅
  3
    1

In [ ]:
tree.height()

4

In [ ]:
tree.size()

9

In [ ]:
tree.traverse_in_order()

[1, 3, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
tree.to_tuple()

((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [ ]:
def remove_none(nums):
    return [x for x in nums if x is not None]

def is_bst(node):
    if node is None:
        return True, None, None
    
    is_bst_l, min_l, max_l = is_bst(node.left)
    is_bst_r, min_r, max_r = is_bst(node.right)
    
    is_bst_node = (is_bst_l and is_bst_r and 
              (max_l is None or node.key > max_l) and 
              (min_r is None or node.key < min_r))
    
    min_key = min(remove_none([min_l, node.key, min_r]))
    max_key = max(remove_none([max_l, node.key, max_r]))
    
    # print(node.key, min_key, max_key, is_bst_node)
        
    return is_bst_node, min_key, max_key

In [ ]:
tree1 = TreeNode.parse_tuple(((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8))))

In [ ]:
is_bst(tree1)

(False, 1, 8)

In [ ]:
tree2 = TreeNode.parse_tuple((('aakash', 'biraj', 'hemanth')  , 'jadhesh', ('siddhant', 'sonaksh', 'vishal')))

In [ ]:
is_bst(tree2)

(True, 'aakash', 'vishal')

In [ ]:
class BSTNode():
    def __init__(self, key, value=None):
        self.key = key
        self.value = value
        self.left = None
        self.right = None
        self.parent = None

In [ ]:
# Level 0
tree = BSTNode(jadhesh.username, jadhesh)

In [ ]:
# View Level 0
tree.key, tree.value

('jadhesh',
 User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com'))

In [ ]:
# Level 1
tree.left = BSTNode(biraj.username, biraj)
tree.right = BSTNode(sonaksh.username, sonaksh)

In [ ]:
# View Level 1
tree.left.key, tree.left.value, tree.right.key, tree.right.value

('biraj',
 User(username='biraj', name='Biraj Das', email='biraj@example.com'),
 'sonaksh',
 User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com'))

In [ ]:
display_keys(tree)

	sonaksh
jadhesh
	biraj

In [ ]:
def insert(node, key, value):
    if node is None:
        node = BSTNode(key, value)
    elif key < node.key:
        node.left = insert(node.left, key, value)
        node.left.parent = node
    elif key > node.key:
        node.right = insert(node.right, key, value)
        node.right.parent = node
    return node

In [ ]:
tree = insert(None, jadhesh.username, jadhesh)

In [ ]:
insert(tree, biraj.username, biraj)
insert(tree, sonaksh.username, sonaksh)
insert(tree, aakash.username, aakash)
insert(tree, hemanth.username, hemanth)
insert(tree, siddhant.username, siddhant)
insert(tree, vishal.username, siddhant)

In [ ]:
display_keys(tree)

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [ ]:
tree2 = insert(None, aakash.username, aakash)
insert(tree2, biraj.username, biraj)
insert(tree2, hemanth.username, hemanth)
insert(tree2, jadhesh.username, jadhesh)
insert(tree2, siddhant.username, siddhant)
insert(tree2, sonaksh.username, sonaksh)
insert(tree2, vishal.username, vishal)

In [ ]:
display_keys(tree2)

						vishal
					sonaksh
						∅
				siddhant
					∅
			jadhesh
				∅
		hemanth
			∅
	biraj
		∅
aakash
	∅

In [ ]:
tree_height(tree2)

7

In [ ]:
def find(node, key):
    if node is None:
        return None
    if key == node.key:
        return node
    if key < node.key:
        return find(node.left, key)
    if key > node.key:
        return find(node.right, key)

In [ ]:
node = find(tree, 'hemanth')

In [ ]:
node.key, node.value

('hemanth',
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'))

In [ ]:
def update(node, key, value):
    target = find(node, key)
    if target is not None:
        target.value = value

In [ ]:
update(tree, 'hemanth', User('hemanth', 'Hemanth J', 'hemanthj@example.com'))

In [ ]:
node = find(tree, 'hemanth')
node.value

User(username='hemanth', name='Hemanth J', email='hemanthj@example.com')

In [ ]:
def list_all(node):
    if node is None:
        return []
    return list_all(node.left) + [(node.key, node.value)] + list_all(node.right)

In [ ]:
list_all(tree)

[('aakash',
  User(username='aakash', name='Aakash Rai', email='aakash@example.com')),
 ('biraj',
  User(username='biraj', name='Biraj Das', email='biraj@example.com')),
 ('hemanth',
  User(username='hemanth', name='Hemanth J', email='hemanthj@example.com')),
 ('jadhesh',
  User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com')),
 ('siddhant',
  User(username='siddhant', name='Siddhant U', email='siddhantu@example.com')),
 ('sonaksh',
  User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com')),
 ('vishal',
  User(username='siddhant', name='Siddhant U', email='siddhantu@example.com'))]

In [ ]:
def is_balanced(node):
    if node is None:
        return True, 0
    balanced_l, height_l = is_balanced(node.left)
    balanced_r, height_r = is_balanced(node.right)
    balanced = balanced_l and balanced_r and abs(height_l - height_r) <=1
    height = 1 + max(height_l, height_r)
    return balanced, height

In [ ]:
is_balanced(tree)

(True, 3)

In [ ]:
is_balanced(tree2)

(False, 7)

In [ ]:
def make_balanced_bst(data, lo=0, hi=None, parent=None):
    if hi is None:
        hi = len(data) - 1
    if lo > hi:
        return None
    
    mid = (lo + hi) // 2
    key, value = data[mid]

    root = BSTNode(key, value)
    root.parent = parent
    root.left = make_balanced_bst(data, lo, mid-1, root)
    root.right = make_balanced_bst(data, mid+1, hi, root)
    
    return root

In [ ]:
data = [(user.username, user) for user in users]
data

[('aakash',
  User(username='aakash', name='Aakash Rai', email='aakash@example.com')),
 ('biraj',
  User(username='biraj', name='Biraj Das', email='biraj@example.com')),
 ('hemanth',
  User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com')),
 ('jadhesh',
  User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com')),
 ('siddhant',
  User(username='siddhant', name='Siddhant U', email='siddhantu@example.com')),
 ('sonaksh',
  User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com')),
 ('vishal',
  User(username='vishal', name='Vishal Goel', email='vishal@example.com'))]

In [ ]:
tree = make_balanced_bst(data)

In [ ]:
display_keys(tree)

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [ ]:
tree3 = None
for username, user in data:
    tree3 = insert(tree3, username, user)

In [ ]:
def balance_bst(node):
    return make_balanced_bst(list_all(node))

In [ ]:
tree1 = None

for user in users:
    tree1 = insert(tree1, user.username, user)

In [ ]:
display_keys(tree1)

						vishal
					sonaksh
						∅
				siddhant
					∅
			jadhesh
				∅
		hemanth
			∅
	biraj
		∅
aakash
	∅

In [ ]:
tree2 = balance_bst(tree1)

In [ ]:
display_keys(tree2)

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [ ]:
import math
math.log(100000000, 2)

26.5754247590989

In [ ]:
%%time
for i in range(26):
    j = i*i

CPU times: user 13 µs, sys: 1 µs, total: 14 µs
Wall time: 17.6 µs

In [ ]:
%%time
for i in range(100000000):
    j = i*i

CPU times: user 12.8 s, sys: 33.8 ms, total: 12.9 s
Wall time: 12.9 s

A Python-Friendly Treemap

In [ ]:
class TreeMap():
    def __init__(self):
        self.root = None
        
    def __setitem__(self, key, value):
        node = find(self.root, key)
        if not node:
            self.root = insert(self.root, key, value)
            self.root = balance_bst(self.root)
        else:
            update(self.root, key, value)
            
        
    def __getitem__(self, key):
        node = find(self.root, key)
        return node.value if node else None
    
    def __iter__(self):
        return (x for x in list_all(self.root))
    
    def __len__(self):
        return tree_size(self.root)
    
    def display(self):
        return display_keys(self.root)

In [ ]:
users

[User(username='aakash', name='Aakash Rai', email='aakash@example.com'),
 User(username='biraj', name='Biraj Das', email='biraj@example.com'),
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'),
 User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com'),
 User(username='siddhant', name='Siddhant U', email='siddhantu@example.com'),
 User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com'),
 User(username='vishal', name='Vishal Goel', email='vishal@example.com')]

In [ ]:
treemap=TreeMap()

In [ ]:
treemap.display()

∅

In [ ]:
treemap['aakash'] = aakash
treemap['jadhesh'] = jadhesh
treemap['sonaksh'] = sonaksh

In [ ]:
treemap.display()

	sonaksh
jadhesh
	aakash

In [ ]:
treemap['jadhesh']

User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com')

In [ ]:
len(treemap)

3

In [ ]:
treemap['biraj'] = biraj
treemap['hemanth'] = hemanth
treemap['siddhant'] = siddhant
treemap['vishal'] = vishal

In [ ]:
treemap.display()

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [ ]:
for key, value in treemap:
    print(key, value)

aakash User(username='aakash', name='Aakash Rai', email='aakash@example.com')
biraj User(username='biraj', name='Biraj Das', email='biraj@example.com')
hemanth User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com')
jadhesh User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com')
siddhant User(username='siddhant', name='Siddhant U', email='siddhantu@example.com')
sonaksh User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com')
vishal User(username='vishal', name='Vishal Goel', email='vishal@example.com')

In [ ]:
list(treemap)

[('aakash',
  User(username='aakash', name='Aakash Rai', email='aakash@example.com')),
 ('biraj',
  User(username='biraj', name='Biraj Das', email='biraj@example.com')),
 ('hemanth',
  User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com')),
 ('jadhesh',
  User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com')),
 ('siddhant',
  User(username='siddhant', name='Siddhant U', email='siddhantu@example.com')),
 ('sonaksh',
  User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com')),
 ('vishal',
  User(username='vishal', name='Vishal Goel', email='vishal@example.com'))]

In [ ]:
treemap['aakash'] = User(username='aakash', name='Aakash N S', email='aakashns@example.com')

In [ ]:
treemap['aakash']

User(username='aakash', name='Aakash N S', email='aakashns@example.com')

Class & Linked List

In [ ]:
class Node():
    pass

In [ ]:
Node()

In [ ]:
node1=Node()

In [ ]:
node1

In [ ]:
node2=Node()

In [ ]:
node2

In [ ]:
node3=Node()

In [ ]:
node3

In [ ]:
class Node():
    def __init__(self):
        self.data = 0

In [ ]:
node4=Node()

In [ ]:
node4.data

0

In [ ]:
node4.data=10

In [ ]:
node4.data

10

In [ ]:
node1 = Node()
node1.data = 2

In [ ]:
node2 = Node()
node2.data = 3

In [ ]:
node3 = Node()
node3.data = 5

In [ ]:
node1.data, node2.data, node3.data

(2, 3, 5)

In [ ]:
class Node():
    def __init__(self, a_number):
        self.data = a_number
        self.next = None

In [ ]:
node1 = Node(2)
node2 = Node(3)
node3 = Node(5)

In [ ]:
node1.data, node2.data, node3.data

(2, 3, 5)

In [ ]:
class LinkedList():
    def __init__(self):
        self.head = None

In [ ]:
list1 = LinkedList()

In [ ]:
list1.head = Node(2)

In [ ]:
list1.head.next = Node(3)

In [ ]:
list1.head.next.next = Node(4)

In [ ]:
list1.head.data, list1.head.next.data, list1.head.next.next.data

(2, 3, 4)

In [ ]:
list1.head, list1.head.next, list1.head.next.next, list1.head.next.next.next

(<__main__.Node at 0x7f3c5a853b90>,
 <__main__.Node at 0x7f3c5a853f50>,
 <__main__.Node at 0x7f3c5a854190>,
 None)

In [ ]:
class LinkedList():
    def __init__(self):
        self.head = None
        
    def append(self, value):
        if self.head is None:
            self.head = Node(value)
        else:
            current_node = self.head
            while current_node.next is not None:
                current_node = current_node.next
            current_node.next = Node(value)

In [ ]:
list2 = LinkedList()
list2.append(2)
list2.append(3)
list2.append(5)

In [ ]:
list2.head.data, list2.head.next.data, list2.head.next.next.data

(2, 3, 5)

In [ ]:
class LinkedList():
    def __init__(self):
        self.head = None
        
    def append(self, value):
        if self.head is None:
            self.head = Node(value)
        else:
            current_node = self.head
            while current_node.next is not None:
                current_node = current_node.next
            current_node.next = Node(value)
            
    def show_elements(self):
        current = self.head
        while current is not None:
            print(current.data)
            current = current.next

In [ ]:
list2 = LinkedList()
list2.append(2)
list2.append(3)
list2.append(5)

In [ ]:
list2.show_elements()

2
3
5

In [ ]:
class LinkedList():
    def __init__(self):
        self.head = None
        
    def append(self, value):
        if self.head is None:
            self.head = Node(value)
        else:
            current_node = self.head
            while current_node.next is not None:
                current_node = current_node.next
            current_node.next = Node(value)
            
    def show_elements(self):
        current = self.head
        while current is not None:
            print(current.data)
            current = current.next
            
    def length(self):
        result = 0
        current = self.head
        while current is not None:
            result += 1
            current = current.next
        return result
            
    def get_element(self, position):
        i = 0
        current = self.head
        while current is not None:
            if i == position:
                return current.data
            current = current.next
            i += 1
        return None

In [ ]:
list2 = LinkedList()
list2.append(2)
list2.append(3)
list2.append(5)
list2.append(9)

In [ ]:
list2.length()

4

In [ ]:
list2.get_element(0)

2

In [ ]:
list2.get_element(1)

3

In [ ]:
list2.get_element(2)

5

In [ ]:
list2.get_element(3)

9

In [ ]:
def reverse(l):
    if l.head is None:
        return
    
    current_node = l.head
    prev_node = None
    
    while current_node is not None:
        # Track the next node
        next_node = current_node.next
        
        # Modify the current node
        current_node.next = prev_node
        
        # Update prev and current
        prev_node = current_node
        current_node = next_node
        
    l.head = prev_node

In [ ]:
list2 = LinkedList()
list2.append(2)
list2.append(3)
list2.append(5)
list2.append(9)

In [ ]:
reverse(list2)

In [ ]:
list2.show_elements()

9
5
3
2

Sorting Algorithms and Divide & Conquer

In [ ]:
def sort(nums):
    pass

In [ ]:
# List of numbers in random order
test0 = {
    'input': {
        'nums': [4, 2, 6, 3, 4, 6, 2, 1]
    },
    'output': [1, 2, 2, 3, 4, 4, 6, 6]
}

In [ ]:
# List of numbers in random order
test1 = {
    'input': {
        'nums': [5, 2, 6, 1, 23, 7, -12, 12, -243, 0]
    },
    'output': [-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]
}

In [ ]:
# A list that's already sorted
test2 = {
    'input': {
        'nums': [3, 5, 6, 8, 9, 10, 99]
    },
    'output': [3, 5, 6, 8, 9, 10, 99]
}

In [ ]:
# A list that's sorted in descending order
test3 = {
    'input': {
        'nums': [99, 10, 9, 8, 6, 5, 3]
    },
    'output': [3, 5, 6, 8, 9, 10, 99]
}

In [ ]:
# A list containing repeating elements
test4 = {
    'input': {
        'nums': [5, -12, 2, 6, 1, 23, 7, 7, -12, 6, 12, 1, -243, 1, 0]
    },
    'output': [-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]
}

In [ ]:
# An empty list 
test5 = {
    'input': {
        'nums': []
    },
    'output': []
}

In [ ]:
# A list containing just one element
test6 = {
    'input': {
        'nums': [23]
    },
    'output': [23]
}

In [ ]:
# A list containing one element repeated many times
test7 = {
    'input': {
        'nums': [42, 42, 42, 42, 42, 42, 42]
    },
    'output': [42, 42, 42, 42, 42, 42, 42]
}

In [ ]:
import random

in_list = list(range(10000))
out_list = list(range(10000))
random.shuffle(in_list)

test8 = {
    'input': {
        'nums': in_list
    },
    'output': out_list
}

In [ ]:
tests = [test0, test1, test2, test3, test4, test5, test6, test7, test8]

In [ ]:
def bubble_sort(nums):
    # Create a copy of the list, to avoid changing it
    nums = list(nums)
    
    # 4. Repeat the process n-1 times
    for _ in range(len(nums) - 1):
        
        # 1. Iterate over the array (except last element)
        for i in range(len(nums) - 1):
            
            # 2. Compare the number with  
            if nums[i] > nums[i+1]:
                
                # 3. Swap the two elements
                nums[i], nums[i+1] = nums[i+1], nums[i]
    
    # Return the sorted list
    return nums

In [ ]:
x, y = 2, 3
x, y = y, x
x, y

(3, 2)

In [ ]:
nums0, output0 = test0['input']['nums'], test0['output']

print('Input:', nums0)
print('Expected output:', output0)
result0 = bubble_sort(nums0)
print('Actual output:', result0)
print('Match:', result0 == output0)

Input: [4, 2, 6, 3, 4, 6, 2, 1]
Expected output: [1, 2, 2, 3, 4, 4, 6, 6]
Actual output: [1, 2, 2, 3, 4, 4, 6, 6]
Match: True

In [ ]:
result0 == output0

True

In [ ]:
!pip install jovian --upgrade --quiet
from jovian.pythondsa import evaluate_test_cases
results = evaluate_test_cases(bubble_sort, tests)

     |████████████████████████████████| 68 kB 5.2 MB/s
  Building wheel for uuid (setup.py) ... done

TEST CASE #0

Input:
{'nums': [4, 2, 6, 3, 4, 6, 2, 1]}

Expected Output:
[1, 2, 2, 3, 4, 4, 6, 6]


Actual Output:
[1, 2, 2, 3, 4, 4, 6, 6]

Execution Time:
0.016 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'nums': [5, 2, 6, 1, 23, 7, -12, 12, -243, 0]}

Expected Output:
[-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]


Actual Output:
[-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]

Execution Time:
0.021 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'nums': [3, 5, 6, 8, 9, 10, 99]}

Expected Output:
[3, 5, 6, 8, 9, 10, 99]


Actual Output:
[3, 5, 6, 8, 9, 10, 99]

Execution Time:
0.009 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'nums': [99, 10, 9, 8, 6, 5, 3]}

Expected Output:
[3, 5, 6, 8, 9, 10, 99]


Actual Output:
[3, 5, 6, 8, 9, 10, 99]

Execution Time:
0.014 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'nums': [5, -12, 2, 6, 1, 23, 7, 7, -12, 6, 12, 1, -243, 1, 0]}

Expected Output:
[-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]


Actual Output:
[-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]

Execution Time:
0.042 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'nums': []}

Expected Output:
[]


Actual Output:
[]

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'nums': [23]}

Expected Output:
[23]


Actual Output:
[23]

Execution Time:
0.003 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'nums': [42, 42, 42, 42, 42, 42, 42]}

Expected Output:
[42, 42, 42, 42, 42, 42, 42]


Actual Output:
[42, 42, 42, 42, 42, 42, 42]

Execution Time:
0.009 ms

Test Result:
PASSED


TEST CASE #8

Input:
{'nums': [7698, 1590, 3186, 9762, 7070, 8148, 2366, 2023, 7899, 9591, 1848, 3197, 9275, 7793, 3326, ...

Expected Output:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2...


Actual Output:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2...

Execution Time:
15879.843 ms

Test Result:
PASSED


SUMMARY

TOTAL: 9, PASSED: 9, FAILED: 0

In [ ]:
def insertion_sort(nums):
    nums = list(nums)
    for i in range(len(nums)):
        cur = nums.pop(i)
        j = i-1
        while j >=0 and nums[j] > cur:
            j -= 1
        nums.insert(j+1, cur)
    return nums

In [ ]:
nums0, output0 = test0['input']['nums'], test0['output']

print('Input:', nums0)
print('Expected output:', output0)
result0 = insertion_sort(nums0)
print('Actual output:', result0)
print('Match:', result0 == output0)

Input: [4, 2, 6, 3, 4, 6, 2, 1]
Expected output: [1, 2, 2, 3, 4, 4, 6, 6]
Actual output: [1, 2, 2, 3, 4, 4, 6, 6]
Match: True

In [ ]:
def merge_sort(nums):
    # Terminating condition (list of 0 or 1 elements)
    if len(nums) <= 1:
        return nums
    
    # Get the midpoint
    mid = len(nums) // 2
    
    # Split the list into two halves
    left = nums[:mid]
    right = nums[mid:]
    
    # Solve the problem for each half recursively
    left_sorted, right_sorted = merge_sort(left), merge_sort(right)
    
    # Combine the results of the two halves
    sorted_nums =  merge(left_sorted, right_sorted)
    
    return sorted_nums

In [ ]:
def merge(nums1, nums2):    
    # List to store the results 
    merged = []
    
    # Indices for iteration
    i, j = 0, 0
    
    # Loop over the two lists
    while i < len(nums1) and j < len(nums2):        
        
        # Include the smaller element in the result and move to next element
        if nums1[i] <= nums2[j]:
            merged.append(nums1[i])
            i += 1 
        else:
            merged.append(nums2[j])
            j += 1
    
    # Get the remaining parts
    nums1_tail = nums1[i:]
    nums2_tail = nums2[j:]
    
    # Return the final merged array
    return merged + nums1_tail + nums2_tail

In [ ]:
merge([1, 4, 7, 9, 11], [-1, 0, 2, 3, 8, 12])

[-1, 0, 1, 2, 3, 4, 7, 8, 9, 11, 12]

In [ ]:
nums0, output0 = test0['input']['nums'], test0['output']

print('Input:', nums0)
print('Expected output:', output0)
result0 = merge_sort(nums0)
print('Actual output:', result0)
print('Match:', result0 == output0)

Input: [4, 2, 6, 3, 4, 6, 2, 1]
Expected output: [1, 2, 2, 3, 4, 4, 6, 6]
Actual output: [1, 2, 2, 3, 4, 4, 6, 6]
Match: True

In [ ]:
results = evaluate_test_cases(merge_sort, tests)

TEST CASE #0

Input:
{'nums': [4, 2, 6, 3, 4, 6, 2, 1]}

Expected Output:
[1, 2, 2, 3, 4, 4, 6, 6]


Actual Output:
[1, 2, 2, 3, 4, 4, 6, 6]

Execution Time:
0.036 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'nums': [5, 2, 6, 1, 23, 7, -12, 12, -243, 0]}

Expected Output:
[-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]


Actual Output:
[-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]

Execution Time:
0.042 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'nums': [3, 5, 6, 8, 9, 10, 99]}

Expected Output:
[3, 5, 6, 8, 9, 10, 99]


Actual Output:
[3, 5, 6, 8, 9, 10, 99]

Execution Time:
0.022 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'nums': [99, 10, 9, 8, 6, 5, 3]}

Expected Output:
[3, 5, 6, 8, 9, 10, 99]


Actual Output:
[3, 5, 6, 8, 9, 10, 99]

Execution Time:
0.024 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'nums': [5, -12, 2, 6, 1, 23, 7, 7, -12, 6, 12, 1, -243, 1, 0]}

Expected Output:
[-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]


Actual Output:
[-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]

Execution Time:
0.06 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'nums': []}

Expected Output:
[]


Actual Output:
[]

Execution Time:
0.002 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'nums': [23]}

Expected Output:
[23]


Actual Output:
[23]

Execution Time:
0.003 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'nums': [42, 42, 42, 42, 42, 42, 42]}

Expected Output:
[42, 42, 42, 42, 42, 42, 42]


Actual Output:
[42, 42, 42, 42, 42, 42, 42]

Execution Time:
0.025 ms

Test Result:
PASSED


TEST CASE #8

Input:
{'nums': [7698, 1590, 3186, 9762, 7070, 8148, 2366, 2023, 7899, 9591, 1848, 3197, 9275, 7793, 3326, ...

Expected Output:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2...


Actual Output:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2...

Execution Time:
198.224 ms

Test Result:
PASSED


SUMMARY

TOTAL: 9, PASSED: 9, FAILED: 0

In [ ]:
def merge(nums1, nums2, depth=0):
    print('  '*depth, 'merge:', nums1, nums2)
    i, j, merged = 0, 0, []
    while i < len(nums1) and j < len(nums2):
        if nums1[i] <= nums2[j]:
            merged.append(nums1[i])
            i += 1
        else:
            merged.append(nums2[j])
            j += 1
    return merged + nums1[i:] + nums2[j:]
        
def merge_sort(nums, depth=0):
    print('  '*depth, 'merge_sort:', nums)
    if len(nums) < 2: 
        return nums
    mid = len(nums) // 2
    return merge(merge_sort(nums[:mid], depth+1), 
                 merge_sort(nums[mid:], depth+1), 
                 depth+1)

In [ ]:
merge_sort([5, -12, 2, 6, 1, 23, 7, 7, -12])

 merge_sort: [5, -12, 2, 6, 1, 23, 7, 7, -12]
   merge_sort: [5, -12, 2, 6]
     merge_sort: [5, -12]
       merge_sort: [5]
       merge_sort: [-12]
       merge: [5] [-12]
     merge_sort: [2, 6]
       merge_sort: [2]
       merge_sort: [6]
       merge: [2] [6]
     merge: [-12, 5] [2, 6]
   merge_sort: [1, 23, 7, 7, -12]
     merge_sort: [1, 23]
       merge_sort: [1]
       merge_sort: [23]
       merge: [1] [23]
     merge_sort: [7, 7, -12]
       merge_sort: [7]
       merge_sort: [7, -12]
         merge_sort: [7]
         merge_sort: [-12]
         merge: [7] [-12]
       merge: [7] [-12, 7]
     merge: [1, 23] [-12, 7, 7]
   merge: [-12, 2, 5, 6] [-12, 1, 7, 7, 23]

[-12, -12, 1, 2, 5, 6, 7, 7, 23]

In [ ]:
def quicksort(nums, start=0, end=None):
    # print('quicksort', nums, start, end)
    if end is None:
        nums = list(nums)
        end = len(nums) - 1
    
    if start < end:
        pivot = partition(nums, start, end)
        quicksort(nums, start, pivot-1)
        quicksort(nums, pivot+1, end)

    return nums

In [ ]:
def partition(nums, start=0, end=None):
    # print('partition', nums, start, end)
    if end is None:
        end = len(nums) - 1
    
    # Initialize right and left pointers
    l, r = start, end-1
    
    # Iterate while they're apart
    while r > l:
        # print('  ', nums, l, r)
        # Increment left pointer if number is less or equal to pivot
        if nums[l] <= nums[end]:
            l += 1
        
        # Decrement right pointer if number is greater than pivot
        elif nums[r] > nums[end]:
            r -= 1
        
        # Two out-of-place elements found, swap them
        else:
            nums[l], nums[r] = nums[r], nums[l]
    # print('  ', nums, l, r)
    # Place the pivot between the two parts
    if nums[l] > nums[end]:
        nums[l], nums[end] = nums[end], nums[l]
        return l
    else:
        return end

In [ ]:
l1 = [1, 5, 6, 2, 0, 11, 3]
pivot = partition(l1)
print(l1, pivot)

[1, 0, 2, 3, 5, 11, 6] 3

In [ ]:
nums0, output0 = test0['input']['nums'], test0['output']

print('Input:', nums0)
print('Expected output:', output0)
result0 = quicksort(nums0)
print('Actual output:', result0)
print('Match:', result0 == output0)

Input: [4, 2, 6, 3, 4, 6, 2, 1]
Expected output: [1, 2, 2, 3, 4, 4, 6, 6]
Actual output: [1, 2, 2, 3, 4, 4, 6, 6]
Match: True

In [ ]:
nums0, output0 = test0['input']['nums'], test0['output']

print('Input:', nums0)
print('Expected output:', output0)
result0 = quicksort(nums0)
print('Actual output:', result0)
print('Match:', result0 == output0)

Input: [4, 2, 6, 3, 4, 6, 2, 1]
Expected output: [1, 2, 2, 3, 4, 4, 6, 6]
Actual output: [1, 2, 2, 3, 4, 4, 6, 6]
Match: True

In [ ]:
from jovian.pythondsa import evaluate_test_cases
results = evaluate_test_cases(quicksort, tests)

TEST CASE #0

Input:
{'nums': [4, 2, 6, 3, 4, 6, 2, 1]}

Expected Output:
[1, 2, 2, 3, 4, 4, 6, 6]


Actual Output:
[1, 2, 2, 3, 4, 4, 6, 6]

Execution Time:
0.023 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'nums': [5, 2, 6, 1, 23, 7, -12, 12, -243, 0]}

Expected Output:
[-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]


Actual Output:
[-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]

Execution Time:
0.02 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'nums': [3, 5, 6, 8, 9, 10, 99]}

Expected Output:
[3, 5, 6, 8, 9, 10, 99]


Actual Output:
[3, 5, 6, 8, 9, 10, 99]

Execution Time:
0.024 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'nums': [99, 10, 9, 8, 6, 5, 3]}

Expected Output:
[3, 5, 6, 8, 9, 10, 99]


Actual Output:
[3, 5, 6, 8, 9, 10, 99]

Execution Time:
0.018 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'nums': [5, -12, 2, 6, 1, 23, 7, 7, -12, 6, 12, 1, -243, 1, 0]}

Expected Output:
[-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]


Actual Output:
[-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]

Execution Time:
0.028 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'nums': []}

Expected Output:
[]


Actual Output:
[]

Execution Time:
0.003 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'nums': [23]}

Expected Output:
[23]


Actual Output:
[23]

Execution Time:
0.003 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'nums': [42, 42, 42, 42, 42, 42, 42]}

Expected Output:
[42, 42, 42, 42, 42, 42, 42]


Actual Output:
[42, 42, 42, 42, 42, 42, 42]

Execution Time:
0.014 ms

Test Result:
PASSED


TEST CASE #8

Input:
{'nums': [7698, 1590, 3186, 9762, 7070, 8148, 2366, 2023, 7899, 9591, 1848, 3197, 9275, 7793, 3326, ...

Expected Output:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2...


Actual Output:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 2...

Execution Time:
97.78 ms

Test Result:
PASSED


SUMMARY

TOTAL: 9, PASSED: 9, FAILED: 0

In [ ]:
class Notebook:
    def __init__(self, title, username, likes):
        self.title, self.username, self.likes = title, username, likes
        
    def __repr__(self):
        return 'Notebook <"{}/{}", {} likes>'.format(self.username, self.title, self.likes)

In [ ]:
nb0 = Notebook('pytorch-basics', 'aakashns', 373)
nb1 = Notebook('linear-regression', 'siddhant', 532)
nb2 = Notebook('logistic-regression', 'vikas', 31)
nb3 = Notebook('feedforward-nn', 'sonaksh', 94)
nb4 = Notebook('cifar10-cnn', 'biraj', 2)
nb5 = Notebook('cifar10-resnet', 'tanya', 29)
nb6 = Notebook('anime-gans', 'hemanth', 80)
nb7 = Notebook('python-fundamentals', 'vishal', 136)
nb8 = Notebook('python-functions', 'aakashns', 74)
nb9 = Notebook('python-numpy', 'siddhant', 92)

In [ ]:
notebooks = [nb0, nb1, nb2, nb3, nb4, nb5,nb6, nb7, nb8, nb9]

In [ ]:
notebooks

[Notebook <"aakashns/pytorch-basics", 373 likes>,
 Notebook <"siddhant/linear-regression", 532 likes>,
 Notebook <"vikas/logistic-regression", 31 likes>,
 Notebook <"sonaksh/feedforward-nn", 94 likes>,
 Notebook <"biraj/cifar10-cnn", 2 likes>,
 Notebook <"tanya/cifar10-resnet", 29 likes>,
 Notebook <"hemanth/anime-gans", 80 likes>,
 Notebook <"vishal/python-fundamentals", 136 likes>,
 Notebook <"aakashns/python-functions", 74 likes>,
 Notebook <"siddhant/python-numpy", 92 likes>]

In [ ]:
def compare_likes(nb1, nb2):
    if nb1.likes > nb2.likes:
        return 'lesser'
    elif nb1.likes == nb2.likes:
        return 'equal'
    elif nb1.likes < nb2.likes:
        return 'greater'

In [ ]:
def default_compare(x, y):
    if x < y:
        return 'less'
    elif x == y:
        return 'equal'
    else:
        return 'greater'

def merge_sort(objs, compare=default_compare):
    if len(objs) < 2:
        return objs
    mid = len(objs) // 2
    return merge(merge_sort(objs[:mid], compare), 
                 merge_sort(objs[mid:], compare), 
                 compare)

def merge(left, right, compare):
    i, j, merged = 0, 0, []
    while i < len(left) and j < len(right):
        result = compare(left[i], right[j])
        if result == 'lesser' or result == 'equal':
            merged.append(left[i])
            i += 1
        else:
            merged.append(right[j])
            j += 1
    return merged + left[i:] + right[j:]

In [ ]:
sorted_notebooks = merge_sort(notebooks, compare_likes)

In [ ]:
sorted_notebooks

[Notebook <"siddhant/linear-regression", 532 likes>,
 Notebook <"aakashns/pytorch-basics", 373 likes>,
 Notebook <"vishal/python-fundamentals", 136 likes>,
 Notebook <"sonaksh/feedforward-nn", 94 likes>,
 Notebook <"siddhant/python-numpy", 92 likes>,
 Notebook <"hemanth/anime-gans", 80 likes>,
 Notebook <"aakashns/python-functions", 74 likes>,
 Notebook <"vikas/logistic-regression", 31 likes>,
 Notebook <"tanya/cifar10-resnet", 29 likes>,
 Notebook <"biraj/cifar10-cnn", 2 likes>]

In [ ]:
def compare_titles(nb1, nb2):
    if nb1.title < nb2.title:
        return 'lesser'
    elif nb1.title == nb2.title:
        return 'equal'
    elif nb1.title > nb2.title:
        return 'greater'

In [ ]:
merge_sort(notebooks, compare_titles)

[Notebook <"hemanth/anime-gans", 80 likes>,
 Notebook <"biraj/cifar10-cnn", 2 likes>,
 Notebook <"tanya/cifar10-resnet", 29 likes>,
 Notebook <"sonaksh/feedforward-nn", 94 likes>,
 Notebook <"siddhant/linear-regression", 532 likes>,
 Notebook <"vikas/logistic-regression", 31 likes>,
 Notebook <"aakashns/python-functions", 74 likes>,
 Notebook <"vishal/python-fundamentals", 136 likes>,
 Notebook <"siddhant/python-numpy", 92 likes>,
 Notebook <"aakashns/pytorch-basics", 373 likes>]

Recursion and Dynamic Programming

In [ ]:
T0 = {
    'input': {
        'seq1': 'serendipitous',
        'seq2': 'precipitation'
    },
    'output': 7
}

T1 = {
    'input': {
        'seq1': [1, 3, 5, 6, 7, 2, 5, 2, 3],
        'seq2': [6, 2, 4, 7, 1, 5, 6, 2, 3]
    },
    'output': 5
}

T2 = {
    'input': {
        'seq1': 'longest',
        'seq2': 'stone'
    },
    'output': 3
}

T3 = {
    'input': {
        'seq1': 'asdfwevad',
        'seq2': 'opkpoiklklj'
    },
    'output': 0
}

T4 = {
    'input': {
        'seq1': 'dense',
        'seq2': 'condensed'
    },
    'output': 5
}

T5 = {
    'input': {
        'seq1': '',
        'seq2': 'opkpoiklklj'
    },
    'output': 0
}

T6 = {
    'input': {
        'seq1': '',
        'seq2': ''
    },
    'output': 0
}

T7 = {
    'input': {
        'seq1': 'abcdef',
        'seq2': 'badcfe'
    },
    'output': 3
}

In [ ]:
lcq_tests = [T0, T1, T2, T3, T4, T5, T6, T7]

In [ ]:
# 0-1 Knapsack Problem
test0 = {
    'input': {
        'capacity': 165,
        'weights': [23, 31, 29, 44, 53, 38, 63, 85, 89, 82],
        'profits': [92, 57, 49, 68, 60, 43, 67, 84, 87, 72]
    },
    'output': 309
}

test1 = {
    'input': {
        'capacity': 3,
        'weights': [4, 5, 6],
        'profits': [1, 2, 3]
    },
    'output': 0
}

test2 = {
    'input': {
        'capacity': 4,
        'weights': [4, 5, 1],
        'profits': [1, 2, 3]
    },
    'output': 3
}

test3 = {
    'input': {
        'capacity': 170,
        'weights': [41, 50, 49, 59, 55, 57, 60],
        'profits': [442, 525, 511, 593, 546, 564, 617]
    },
    'output': 1735
}

test4 = {
    'input': {
        'capacity': 15,
        'weights': [4, 5, 6],
        'profits': [1, 2, 3]
    },
    'output': 6
}

test5 = {
    'input': {
        'capacity': 15,
        'weights': [4, 5, 1, 3, 2, 5],
        'profits': [2, 3, 1, 5, 4, 7]
    },
    'output': 19
}

In [ ]:
tests = [test0, test1, test2, test3, test4, test5]

In [ ]:
def lcq_recursive(seq1, seq2, idx1=0, idx2=0):
    # Check if either of the sequences is exhausted
    if idx1 == len(seq1) or idx2 == len(seq2):
        return 0
    
    # Check if the current characters are equal
    if seq1[idx1] == seq2[idx2]:
        return 1 + lcq_recursive(seq1, seq2, idx1+1, idx2+1)
    # Skip one element from each sequence
    else:
        return max(lcq_recursive(seq1, seq2, idx1+1, idx2), 
                   lcq_recursive(seq1, seq2, idx1, idx2+1))

In [ ]:
from jovian.pythondsa import evaluate_test_cases

In [ ]:
evaluate_test_cases(lcq_recursive, lcq_tests)

TEST CASE #0

Input:
{'seq1': 'serendipitous', 'seq2': 'precipitation'}

Expected Output:
7


Actual Output:
7

Execution Time:
689.37 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'seq1': [1, 3, 5, 6, 7, 2, 5, 2, 3], 'seq2': [6, 2, 4, 7, 1, 5, 6, 2, 3]}

Expected Output:
5


Actual Output:
5

Execution Time:
8.149 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'seq1': 'longest', 'seq2': 'stone'}

Expected Output:
3


Actual Output:
3

Execution Time:
0.315 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'seq1': 'asdfwevad', 'seq2': 'opkpoiklklj'}

Expected Output:
0


Actual Output:
0

Execution Time:
140.069 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'seq1': 'dense', 'seq2': 'condensed'}

Expected Output:
5


Actual Output:
5

Execution Time:
0.181 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'seq1': '', 'seq2': 'opkpoiklklj'}

Expected Output:
0


Actual Output:
0

Execution Time:
0.002 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'seq1': '', 'seq2': ''}

Expected Output:
0


Actual Output:
0

Execution Time:
0.002 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'seq1': 'abcdef', 'seq2': 'badcfe'}

Expected Output:
3


Actual Output:
3

Execution Time:
0.078 ms

Test Result:
PASSED


SUMMARY

TOTAL: 8, PASSED: 8, FAILED: 0

[(7, True, 689.37),
 (5, True, 8.149),
 (3, True, 0.315),
 (0, True, 140.069),
 (5, True, 0.181),
 (0, True, 0.002),
 (0, True, 0.002),
 (3, True, 0.078)]

In [ ]:
%%time
lcq_recursive('seredipitous', 'precipitation')

CPU times: user 365 ms, sys: 2.58 ms, total: 368 ms
Wall time: 538 ms

7

In [ ]:
%%time
lcq_recursive('Asdfsfafssess', 'oypiououuiuo')

CPU times: user 4.44 s, sys: 3.61 ms, total: 4.44 s
Wall time: 4.54 s

0

In [ ]:
def lcq_memoized(seq1, seq2):
    memo = {}
    
    def recurse(idx1, idx2):
        key = idx1, idx2
        
        if key in memo:
            return memo[key]
        
        if idx1 == len(seq1) or idx2 == len(seq2):
            memo[key] = 0
        elif seq1[idx1] == seq2[idx2]:
            memo[key] = 1 + recurse(idx1+1, idx2+1)
        else:
            memo[key] = max(recurse(idx1+1, idx2), 
                            recurse(idx1, idx2+1))
        return memo[key]
        
    return recurse(0, 0)

In [ ]:
evaluate_test_cases(lcq_memoized, lcq_tests)

TEST CASE #0

Input:
{'seq1': 'serendipitous', 'seq2': 'precipitation'}

Expected Output:
7


Actual Output:
7

Execution Time:
0.374 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'seq1': [1, 3, 5, 6, 7, 2, 5, 2, 3], 'seq2': [6, 2, 4, 7, 1, 5, 6, 2, 3]}

Expected Output:
5


Actual Output:
5

Execution Time:
0.13 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'seq1': 'longest', 'seq2': 'stone'}

Expected Output:
3


Actual Output:
3

Execution Time:
0.078 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'seq1': 'asdfwevad', 'seq2': 'opkpoiklklj'}

Expected Output:
0


Actual Output:
0

Execution Time:
0.201 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'seq1': 'dense', 'seq2': 'condensed'}

Expected Output:
5


Actual Output:
5

Execution Time:
0.056 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'seq1': '', 'seq2': 'opkpoiklklj'}

Expected Output:
0


Actual Output:
0

Execution Time:
0.005 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'seq1': '', 'seq2': ''}

Expected Output:
0


Actual Output:
0

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'seq1': 'abcdef', 'seq2': 'badcfe'}

Expected Output:
3


Actual Output:
3

Execution Time:
0.053 ms

Test Result:
PASSED


SUMMARY

TOTAL: 8, PASSED: 8, FAILED: 0

[(7, True, 0.374),
 (5, True, 0.13),
 (3, True, 0.078),
 (0, True, 0.201),
 (5, True, 0.056),
 (0, True, 0.005),
 (0, True, 0.004),
 (3, True, 0.053)]

In [ ]:
def lcq_dp(seq1, seq2):
    n1, n2 = len(seq1), len(seq2)
    results = [[0 for _ in range(n2+1)] for _ in range(n1+1)]
    for idx1 in range(n1):
        for idx2 in range(n2):
            if seq1[idx1] == seq2[idx2]:
                results[idx1+1][idx2+1] = 1 + results[idx1][idx2]
            else:
                results[idx1+1][idx2+1] = max(results[idx1][idx2+1], results[idx1+1][idx2])
    return results[-1][-1]

In [ ]:
evaluate_test_cases(lcq_dp, lcq_tests)

TEST CASE #0

Input:
{'seq1': 'serendipitous', 'seq2': 'precipitation'}

Expected Output:
7


Actual Output:
7

Execution Time:
0.168 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'seq1': [1, 3, 5, 6, 7, 2, 5, 2, 3], 'seq2': [6, 2, 4, 7, 1, 5, 6, 2, 3]}

Expected Output:
5


Actual Output:
5

Execution Time:
0.083 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'seq1': 'longest', 'seq2': 'stone'}

Expected Output:
3


Actual Output:
3

Execution Time:
0.047 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'seq1': 'asdfwevad', 'seq2': 'opkpoiklklj'}

Expected Output:
0


Actual Output:
0

Execution Time:
0.114 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'seq1': 'dense', 'seq2': 'condensed'}

Expected Output:
5


Actual Output:
5

Execution Time:
0.046 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'seq1': '', 'seq2': 'opkpoiklklj'}

Expected Output:
0


Actual Output:
0

Execution Time:
0.008 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'seq1': '', 'seq2': ''}

Expected Output:
0


Actual Output:
0

Execution Time:
0.006 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'seq1': 'abcdef', 'seq2': 'badcfe'}

Expected Output:
3


Actual Output:
3

Execution Time:
0.047 ms

Test Result:
PASSED


SUMMARY

TOTAL: 8, PASSED: 8, FAILED: 0

[(7, True, 0.168),
 (5, True, 0.083),
 (3, True, 0.047),
 (0, True, 0.114),
 (5, True, 0.046),
 (0, True, 0.008),
 (0, True, 0.006),
 (3, True, 0.047)]

In [ ]:
%%time
lcq_dp('Asdfsfafssess', 'oypiououuiuo')

CPU times: user 175 µs, sys: 0 ns, total: 175 µs
Wall time: 183 µs

0

In [ ]:
%%time
lcq_dp('seredipitous', 'precipitation')

CPU times: user 173 µs, sys: 0 ns, total: 173 µs
Wall time: 179 µs

7

In [ ]:
%%time
lcq_dp('longest', 'stone')

CPU times: user 56 µs, sys: 0 ns, total: 56 µs
Wall time: 61.3 µs

3

In [ ]:
from jovian.pythondsa import evaluate_test_cases

In [ ]:
def max_profit_recursive(capacity, weights, profits, idx=0):
    if idx == len(weights):
        return 0
    if weights[idx] > capacity:
        return max_profit_recursive(capacity, weights, profits, idx+1)
    else:
        return max(max_profit_recursive(capacity, weights, profits, idx+1),
                   profits[idx] + max_profit_recursive(capacity-weights[idx], weights, profits, idx+1))

In [ ]:
evaluate_test_cases(max_profit_recursive, tests)

TEST CASE #0

Input:
{'capacity': 165, 'weights': [23, 31, 29, 44, 53, 38, 63, 85, 89, 82], 'profits': [92, 57, 49, 68, 6...

Expected Output:
309


Actual Output:
309

Execution Time:
0.291 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'capacity': 3, 'weights': [4, 5, 6], 'profits': [1, 2, 3]}

Expected Output:
0


Actual Output:
0

Execution Time:
0.008 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'capacity': 4, 'weights': [4, 5, 1], 'profits': [1, 2, 3]}

Expected Output:
3


Actual Output:
3

Execution Time:
0.01 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'capacity': 170, 'weights': [41, 50, 49, 59, 55, 57, 60], 'profits': [442, 525, 511, 593, 546, 564,...

Expected Output:
1735


Actual Output:
1735

Execution Time:
0.092 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'capacity': 15, 'weights': [4, 5, 6], 'profits': [1, 2, 3]}

Expected Output:
6


Actual Output:
6

Execution Time:
0.017 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'capacity': 15, 'weights': [4, 5, 1, 3, 2, 5], 'profits': [2, 3, 1, 5, 4, 7]}

Expected Output:
19


Actual Output:
19

Execution Time:
0.081 ms

Test Result:
PASSED


SUMMARY

TOTAL: 6, PASSED: 6, FAILED: 0

[(309, True, 0.291),
 (0, True, 0.008),
 (3, True, 0.01),
 (1735, True, 0.092),
 (6, True, 0.017),
 (19, True, 0.081)]

In [ ]:
def knapsack_memo(capacity, weights, profits):
    memo = {}
    
    def recurse(idx, remaining):
        key = (idx, remaining)
        if key in memo:
            return memo[key]
        elif idx == len(weights):
            memo[key] = 0
        elif weights[idx] > remaining:
            memo[key] = recurse(idx+1, remaining)
        else:
            memo[key] = max(recurse(idx+1, remaining), 
                            profits[idx] + recurse(idx+1, remaining-weights[idx]))
        return memo[key] 
        
    return recurse(0, capacity)

In [ ]:
evaluate_test_cases(knapsack_memo, tests)

TEST CASE #0

Input:
{'capacity': 165, 'weights': [23, 31, 29, 44, 53, 38, 63, 85, 89, 82], 'profits': [92, 57, 49, 68, 6...

Expected Output:
309


Actual Output:
309

Execution Time:
0.528 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'capacity': 3, 'weights': [4, 5, 6], 'profits': [1, 2, 3]}

Expected Output:
0


Actual Output:
0

Execution Time:
0.009 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'capacity': 4, 'weights': [4, 5, 1], 'profits': [1, 2, 3]}

Expected Output:
3


Actual Output:
3

Execution Time:
0.014 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'capacity': 170, 'weights': [41, 50, 49, 59, 55, 57, 60], 'profits': [442, 525, 511, 593, 546, 564,...

Expected Output:
1735


Actual Output:
1735

Execution Time:
0.214 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'capacity': 15, 'weights': [4, 5, 6], 'profits': [1, 2, 3]}

Expected Output:
6


Actual Output:
6

Execution Time:
0.032 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'capacity': 15, 'weights': [4, 5, 1, 3, 2, 5], 'profits': [2, 3, 1, 5, 4, 7]}

Expected Output:
19


Actual Output:
19

Execution Time:
0.081 ms

Test Result:
PASSED


SUMMARY

TOTAL: 6, PASSED: 6, FAILED: 0

[(309, True, 0.528),
 (0, True, 0.009),
 (3, True, 0.014),
 (1735, True, 0.214),
 (6, True, 0.032),
 (19, True, 0.081)]

In [ ]:
def knapsack_dp(capacity, weights, profits):
    n = len(weights)
    results = [[0 for _ in range(capacity+1)] for _ in range(n+1)]
    
    for idx in range(n):
        for c in range(capacity+1):
            if weights[idx] > c:
                results[idx+1][c] = results[idx][c]
            else:
                results[idx+1][c] = max(results[idx][c], profits[idx] + results[idx][c-weights[idx]])
            
    return results[-1][-1]

In [ ]:
evaluate_test_cases(knapsack_dp, tests)

TEST CASE #0

Input:
{'capacity': 165, 'weights': [23, 31, 29, 44, 53, 38, 63, 85, 89, 82], 'profits': [92, 57, 49, 68, 6...

Expected Output:
309


Actual Output:
309

Execution Time:
10.777 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'capacity': 3, 'weights': [4, 5, 6], 'profits': [1, 2, 3]}

Expected Output:
0


Actual Output:
0

Execution Time:
0.021 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'capacity': 4, 'weights': [4, 5, 1], 'profits': [1, 2, 3]}

Expected Output:
3


Actual Output:
3

Execution Time:
0.021 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'capacity': 170, 'weights': [41, 50, 49, 59, 55, 57, 60], 'profits': [442, 525, 511, 593, 546, 564,...

Expected Output:
1735


Actual Output:
1735

Execution Time:
0.874 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'capacity': 15, 'weights': [4, 5, 6], 'profits': [1, 2, 3]}

Expected Output:
6


Actual Output:
6

Execution Time:
0.048 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'capacity': 15, 'weights': [4, 5, 1, 3, 2, 5], 'profits': [2, 3, 1, 5, 4, 7]}

Expected Output:
19


Actual Output:
19

Execution Time:
0.087 ms

Test Result:
PASSED


SUMMARY

TOTAL: 6, PASSED: 6, FAILED: 0

[(309, True, 10.777),
 (0, True, 0.021),
 (3, True, 0.021),
 (1735, True, 0.874),
 (6, True, 0.048),
 (19, True, 0.087)]

Graph Algorithms (BFS, DFS, Shortest Paths)

In [ ]:
num_nodes3 = 9
edges3 = [(0, 1), (0, 3), (1, 2), (2, 3), (4, 5), (4, 6), (5, 6), (7, 8)]
num_nodes3, len(edges3)

(9, 8)

In [ ]:
# Graph with weights
num_nodes5 = 9
edges5 = [(0, 1, 3), (0, 3, 2), (0, 8, 4), (1, 7, 4), (2, 7, 2), (2, 3, 6), 
          (2, 5, 1), (3, 4, 1), (4, 8, 8), (5, 6, 8)]

num_nodes5, len(edges5)

(9, 10)

In [ ]:
num_nodes6 = 5
edges6 = [(0, 1), (1, 2), (2, 3), (2, 4), (4, 2), (3, 0)]
num_nodes6, len(edges6)

(5, 6)

In [ ]:
def update_distances(graph, current, distance, parent=None):
    """Update the distances of the current node's neighbors"""
    neighbors = graph.data[current]
    weights = graph.weight[current]
    for i, node in enumerate(neighbors):
        weight = weights[i]
        if distance[current] + weight < distance[node]:
            distance[node] = distance[current] + weight
            if parent:
                parent[node] = current

def pick_next_node(distance, visited):
    """Pick the next univisited node at the smallest distance"""
    min_distance = float('inf')
    min_node = None
    for node in range(len(distance)):
        if not visited[node] and distance[node] < min_distance:
            min_node = node
            min_distance = distance[node]
    return min_node

In [ ]:
num_nodes7 = 6
edges7 = [(0, 1, 4), (0, 2, 2), (1, 2, 5), (1, 3, 10), (2, 4, 3), (4, 3, 4), (3, 5, 11)]
num_nodes7, len(edges7)

(6, 7)

In [ ]:
num_nodes1 = 5
edges1 = [(0, 1), (1, 2), (2, 3), (3, 4), (4, 0), (1, 4), (1, 3)]
num_nodes1, len(edges1)

(5, 7)

In [ ]:
num_nodes3 = 9
edges3 = [(0, 1), (0, 3), (1, 2), (2, 3), (4, 5), (4, 6), (5, 6), (7, 8)]
num_nodes3, len(edges3)

(9, 8)

In [ ]:
num_nodes5 = 9
edges5 = [(0, 1, 3), (0, 3, 2), (0, 8, 4), (1, 7, 4), (2, 7, 2), (2, 3, 6), 
          (2, 5, 1), (3, 4, 1), (4, 8, 8), (5, 6, 8)]

num_nodes5, len(edges5)

(9, 10)

In [ ]:
# Directed graph
num_nodes6 = 5
edges6 = [(0, 1), (1, 2), (2, 3), (2, 4), (4, 2), (3, 0)]
num_nodes6, len(edges6)

(5, 6)

In [ ]:
num_nodes7 = 6
edges7 = [(0, 1, 4), (0, 2, 2), (1, 2, 5), (1, 3, 10), (2, 4, 3), (4, 3, 4), (3, 5, 11)]
num_nodes7, len(edges7)

(6, 7)

In [ ]:
class Graph:
    def __init__(self, num_nodes, edges):
        self.data = [[] for _ in range(num_nodes)]
        for v1, v2 in edges:
            self.data[v1].append(v2)
            self.data[v2].append(v1)
            
    def __repr__(self):
        return "\n".join(["{} : {}".format(i, neighbors) for (i, neighbors) in enumerate(self.data)])

    def __str__(self):
        return repr(self)

In [ ]:
g1 = Graph(num_nodes1, edges1)

In [ ]:
g1

0 : [1, 4]
1 : [0, 2, 4, 3]
2 : [1, 3]
3 : [2, 4, 1]
4 : [3, 0, 1]

In [ ]:
#BFS[Breadth First Search]
def bfs(graph, source):
    visited = [False] * len(graph.data)
    queue = []
    
    visited[source] = True    
    queue.append(source)
    i = 0
    
    while i < len(queue):
        for v in graph.data[queue[i]]:
            if not visited[v]:
                visited[v] = True
                queue.append(v)
        i += 1
        
    return queue

In [ ]:
bfs(g1, 3)

[3, 2, 4, 1, 0]

In [ ]:
# DFS[Depth First Search]
def dfs(graph, source):
    visited = [False] * len(graph.data)
    stack = [source]
    result = []
    
    while len(stack) > 0:
        current = stack.pop()
        if not visited[current]:
            result.append(current)
            visited[current] = True
            for v in graph.data[current]:
                stack.append(v)
                
    return result

In [ ]:
dfs(g1,0)

[0, 4, 1, 3, 2]

In [ ]:
#Directed Weighted graph
class Graph:
    def __init__(self, num_nodes, edges, directed=False):
        self.data = [[] for _ in range(num_nodes)]
        self.weight = [[] for _ in range(num_nodes)]
        
        self.directed = directed
        self.weighted = len(edges) > 0 and len(edges[0]) == 3
            
        for e in edges:
            self.data[e[0]].append(e[1])
            if self.weighted:
                self.weight[e[0]].append(e[2])
            
            if not directed:
                self.data[e[1]].append(e[0])
                if self.weighted:
                    self.data[e[1]].append(e[2])
                
    def __repr__(self):
        result = ""
        for i in range(len(self.data)):
            pairs = list(zip(self.data[i], self.weight[i]))
            result += "{}: {}\n".format(i, pairs)
        return result

    def __str__(self):
        return repr(self)

In [ ]:
g7 = Graph(num_nodes7, edges7, directed=True)

In [ ]:
g7

0: [(1, 4), (2, 2)]
1: [(2, 5), (3, 10)]
2: [(4, 3)]
3: [(5, 11)]
4: [(3, 4)]
5: []

In [ ]:
g7.weight

[[4, 2], [5, 10], [3], [11], [4], []]

In [ ]:
# Shortest Path - Dijkstra's Algorithm
def update_distances(graph, current, distance, parent=None):
    """Update the distances of the current node's neighbors"""
    neighbors = graph.data[current]
    weights = graph.weight[current]
    for i, node in enumerate(neighbors):
        weight = weights[i]
        if distance[current] + weight < distance[node]:
            distance[node] = distance[current] + weight
            if parent:
                parent[node] = current

def pick_next_node(distance, visited):
    """Pick the next univisited node at the smallest distance"""
    min_distance = float('inf')
    min_node = None
    for node in range(len(distance)):
        if not visited[node] and distance[node] < min_distance:
            min_node = node
            min_distance = distance[node]
    return min_node
        
def shortest_path(graph, source, dest):
    """Find the length of the shortest path between source and destination"""
    visited = [False] * len(graph.data)
    distance = [float('inf')] * len(graph.data)
    parent = [None] * len(graph.data)
    queue = []
    idx = 0
    
    queue.append(source)
    distance[source] = 0
    visited[source] = True    
    while idx < len(queue) and not visited[dest]:
        current = queue[idx]
        update_distances(graph, current, distance, parent)        
        next_node = pick_next_node(distance, visited)
        if next_node is not None:
            visited[next_node] = True
            queue.append(next_node)
        idx += 1        
    return distance[dest], distance, parent

In [ ]:
shortest_path(g7, 0, 5)

(20, [0, 4, 2, 9, 5, 20], [None, 0, 0, 4, 2, 3])